#container-box{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 200px;
    width: 560px; 
    gap: 10px;  
}
.box{
    border: 2px solid rgb(64, 62, 59);
    width: 140px;
    background-color: blanchedalmond;
    background-image: url();
    

}
.box:nth-child(1){
    background-color: lightpink;
    display : flex;
}
.part{
    border: 2px solid whitesmoke;
    width: 50%;
    height: 120px;
}
.box:nth-child(3){
    background-color: lightpink;
    display : flex;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#head{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(76, 52, 52);
    color: white;
    margin: 0;
    padding: 10px;
}
#foot{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(76, 52, 52);
    color: white;
    margin: 0;
    padding: 10px;
}