#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    border: 2px solid gray;
    height: 620px;
    width: 930px; 
    gap: 10px;
}
.box:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.part:hover{
    transform: translateY(20px);
    transition: all .5s ease;
}
.box{
    border: 1px solid black;
    background-color: grey;
    height:300px;
    width:300px;
}
.box:nth-child(1){
    display : grid;
    gap: 5px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    height: 300px;
    width: 300px;
}
.box:nth-child(3){
    display : grid;
    gap: 5px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    height: 300px;
    width: 300px;
}
.box:nth-child(4){
    display : grid;
    gap: 5px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    height: 300px;
    width: 300px;
}
.box:nth-child(6){
    display : grid;
    gap:5px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    height: 300px;
    width: 300px;
}
.part{
    border: 2px solid rgb(150, 121, 121);
    height: 140px;
    width: 140px;
}
#head{
    text-align: center;
    width:934px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(179, 179, 255);
    padding: 10px;
}   
footer{
    text-align: center;
    width:934px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(179, 179, 255);
    padding: 10px;
    margin-top: 10px;
}   
.box:nth-child(1) > div{
    background-color: lightblue;
}
.title{
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 4px;
    font-weight: bold;
}
img{
    width: 140px;
    height: 140px;
    object-fit: fill;
    object-position: center;

}
.image{
    width: 300px;
    height: 300px;
    object-fit: fill;
    object-position: center;
}