#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    border: 2px solid gray;
    height: 360px;
}
.box{
    border: 1px solid black;
}
.box:nth-child(1){
    display : grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.box:nth-child(3){
    display : grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.box:nth-child(4){
    display : grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.box:nth-child(6){
    display : grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.part{
    border: 2px solid rgb(150, 121, 121);
}
#head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(179, 179, 255);
    padding: 10px;
}   
footer{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(179, 179, 255);
    padding: 10px;
    margin-top: 10px;
}   
.box:nth-child(1) > div{
    background-color: lightblue;
}
.box:nth-child(1) > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;}
#title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.part img, .box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or use 'contain' if you want the whole image visible */
}   